.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 18px;
    padding:0px 40px;
    

}

.header__logo {
    height: 25px;
}

.header__center {
    display: flex;
    justify-content: space-between;
    color: #fff;

}

.header__center_item{
    padding: 0 10px;
    cursor: pointer;
}

.header__right {
    margin-right: 20px;
}

@media(max-width: 900px) {
    .header__center {
        display: none;
    }

    .header__right {
        display: none;
    }
}

@font-face {
    font-family: Revamped;
    src: url(../../assets/font/Revamped.ttf);
    font-weight: 400;
    font-style: normal;
  
  }
.revamped {
    font-family: Revamped;
    color: #fff;
}